{% load static %}
<!DOCTYPE html>
<head>
  <title> Submitted! </title>
  <meta charset="UTF-8">
  <link rel="icon" href="pic.PNG" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <meta name="viewport" , content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <span class="message-title"> Congratulations You have Submitted the Form</span>
      <div class= 'message'> 
        Please check you provided email inbox for a verficaton email.
        Our team will get in touch with you shortly 
      </div>
  </div>
</body>
</html>